In [1]:
# Single Line Comment
'''
Multi Line Comment

'''
print('Hello Python Programming')
print()   # print function

Hello Python Programming

In [2]:
# Data Types of Python Programmig
'''
1. Integer : int
2. Float   : float
3. String  : str
4. Boolean : bool (True / False)
5. Complex : complex (2 + 3i)
6. List    : list
7. Tuple   : tuple
8. Set     : set
9. Dictionary : dict
10.Class   : Custom Datatype
'''
# Variable Definitons
'''
1. assignment operator: =
2. comparison operator: ==
'''
number = 100  # variable definition of integer value
Number = 100.4334343  # variable definition of float value

print(number == Number)

False

In [3]:
string = "India 1234"  # group of characters or numbers
print(type(string))

str1 = "12345"

print(type(str1))

<class 'str'>
<class 'str'>

In [4]:
a = True
b = False
c = True

print(type(a))

# Using And logic

print(a and b)
print(a and c)
print(b and a)
print(b and b)

print("*" * 20)


# Using Or logic

print(a or b)
print(a or c)
print(b or a)
print(b or b)

<class 'bool'>
False
True
False
False
********************
True
True
True
False

In [5]:
# complex number
# Complex number = real part + imagenary part

num = 2 + 3j
print(num)
print(type(num))

(2+3j)
<class 'complex'>

In [6]:
# List : Mutable
lst = []
lst1 = [1,2,3,3.1421,"India",True]
print(type(lst1))
lst2 = [1,2,3,[10,20,30],"India"]
print(type(lst2))

<class 'list'>
<class 'list'>

In [7]:
# Tuple : immtuable
tup = ()
tup1 = (1,2,3,3.1421,"India",True)
print(type(tup1))

<class 'tuple'>

In [8]:
# Set

a = {1,1,2,2,2,3,4,5}

print(a)
print(type(a))

txt = {"India","India",12,12,10,10,"USA"}
print(txt)

{1, 2, 3, 4, 5}
<class 'set'>
{10, 'USA', 12, 'India'}

In [9]:
# Dictionary
d = {"India":[10,20,30,40,50],
     "USA":[1,4,5,6,7],
     "UK":[45,34,23,56,43]}

d

{'India': [10, 20, 30, 40, 50],
 'USA': [1, 4, 5, 6, 7],
 'UK': [45, 34, 23, 56, 43]}

In [10]:
# Mathmatical Operators
'''
+
-
*
/
//
%
'''
print(100 * 2 / 2 + 10)
print(1000 // 2)
print(1000 / 2)
print(40 % 3)
print(20 ** 2)
print(8 ** 0.5)

# Logical Operator

# Comparison Opertor

print(100 <= 200)  # less than or equal to
print(200 != 300)  # Not equal to
print(1000 == 1000) # Comparison ==

110.0
500
500.0
1
400
2.8284271247461903
True
True
True

In [11]:
# User defined function
# Program: Addition of Two Numbers

'''
Logic:

1. Ask user to enter the two numbers.
2. Addition operation will be performed
3. Output will get printed
'''
number1 = float(input("enter the first number: "))
number2 = float(input("enter the second number: "))

number3 = number1 + number2

print(number3)

enter the first number: 234
enter the second number: 234
468.0

In [12]:
# print operations

# using f format method

print(f"The addition of two numbers {number1}  and {number2} is {number3}")

print(f"The addition of two numbers {number1} and {number2} is {number3} ".format(number1,number2,number3))

The addition of two numbers 234.0  and 234.0 is 468.0
The addition of two numbers 234.0 and 234.0 is 468.0

In [13]:
# String Operation

string = input("Enter the String : ")

# Concept of Indexing

'''
Logic:
H e l l o   W o r l d
0 1 2 3 4 5 6 7 8 9 10
               -3 -2 -1
'''
print(string[4])
print(string[-7])

Enter the String : Hello World
o
o

In [14]:
# Slicing a string
# string[start:stop]


string = "Hello World"
string1 = "India is Great"

print(string[:5])  # o/p: Hello
print(string[:-6])   # o/p : Hello
print(string1[9:])   # o/p: Great
print(string1[-5:])    # o/p: Great

Hello
Hello
Great
Great

In [15]:
# String Slicing Example
# o/p: Ida i ra
# string1[Start:Stop:Step]
# string1 = "India is Great"

print(string1[::2])
print(string1[::4])
print(string1[::-1])

Idai ra
Ia a
taerG si aidnI

In [16]:
# Q. Write a program to print sentence/word is palindrom or not.
'''
Logic:
1. ask user to enter the string.
2. store the string in variable: string
3. reverse the entered string : string1
4. use if else condition to check the string is palindrom or not.
'''
# Step1: Ask user to enter the string
string = input("Enter the String: ")

# Step2: Reverse the entered string: string1
string1 = string[::-1]

# Step3: Use if else logics
if string == string1:
  print("The Given String is Palindrom")
else:
  print("The Given String is not Palindrom")

Enter the String: Hello World
The Given String is not Palindrom

In [17]:
# Q. Segregate user based on Marks Scored
# Condition: If Marks >= 75 : Bright Student else Weak Student.
'''
Logic:
1. ask user to enter the marks and typecast to float.
2. store the marks in variable: marks
3. use if else logics
'''
# Step1:
marks = float(input("Enter the Marks: "))

# Step2:

if marks >= 75:
  print("Bright Student")
else:
  print("Weak Student")

Enter the Marks: 45
Weak Student

In [18]:
# Q. Using Multiple if elif concept

score = float(input("enter the score: "))

if score >= 90:
  print("Grade A")
elif score >= 80:
  print("Grade B")
elif score >= 70:
  print("Grade C")
elif score >= 60:
  print("Grade D")
else:
  print("No Grade")

enter the score: 36
No Grade

In [19]:
# Number Guessing Game : With Latency Calculation
import time
import random

start = time.perf_counter()

number = random.randint(1,5)
print(number)

if number == 1:
  print("Number is 1")
elif number == 2:
  print("Number is 2")
elif number == 3:
  print("Number is 3")
elif number == 4:
  print("Number is 4")
elif number == 5:
  print("Number is 5")
else:
  print("No Number")

# Your code that you want to time
end = time.perf_counter() - start
print('{:.6f}s for the calculation'.format(end))

3
Number is 3
0.002781s for the calculation

In [20]:
# Number Guessing Game
import time
import random

start = time.perf_counter()
number = random.randint(1,5)
print(number)

if number == 1:
  print("Number is 1")
if number == 2:
  print("Number is 2")
if number == 3:
  print("Number is 3")
if number == 4:
  print("Number is 4")
if number == 5:
  print("Number is 5")
else:
  print("No Number")

# Your code that you want to time
end = time.perf_counter() - start
print('{:.6f}s for the calculation'.format(end))

4
Number is 4
No Number
0.000555s for the calculation

In [21]:
# loops : For loop & while loop
# range(start,stop,step)

for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [22]:
for i in range(1,6):
  print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [23]:
# String: object / textform

lst = ["hello","World","Python","Programming"]

for i in lst:
  # print(i.lower())
  # print(i.upper())
  # print(i.capitalize())
  # print(i.isdigit())
  print(i.count("hello"))

1
0
0
0

In [24]:
# Q. print all the even numbers from 1 to 20.

'''
Logic:
1. use range function to generate numbers
2. use for loop to iterate
3. use if condition to check the number is even or not.
'''
for i in range(1,21):
  if i%2 == 0:
    print(i, end= " ")

2 4 6 8 10 12 14 16 18 20

In [25]:
# Q.  print the sum of all even numbers between 1 to 50.
'''
Logic:
1. use range function to generate even numbers between 1 to 50
2. use for loop to iterate
3. assign variable sum = 0 and then iterate through for loop
'''
sum = 0

for i in range(1,51):
  if i % 2 == 0:
    sum = sum + i
print(sum)

650

In [26]:
# using len() : This will return total number of characters present inside a string

len("Print")

5

In [27]:
# Q. Segregate all the characters/string contains more than 6 letters/words/numbers

lst = ["India","ITVedant@123","Austia_love456","1354453535"]

for i in lst:
  if len(i) >= 6:
    print(i)

ITVedant@123
Austia_love456
1354453535

In [28]:
# List
'''
1. DSA
2. Mutable
'''
lst = []
lst1 = [[[[]]]]
lst2 = [1,2,3,4.65756757,True,False,4-7j]
print(type(lst))

<class 'list'>

In [29]:
# List Methods
'''
When any function defined inside a class it is called as Method
'''
a = []
print(type(a))
# ---------------------
a.append(1)
print(a)
a.append([2,3,4])
print(a)
a.append(5)
print(a)
# --------------------
a.insert(0,0)
print(a)
# --------------------
a.pop()
print(a)
# --------------------
a.remove(0)
print(a)
# --------------------
a.insert(0,1)
print(a)
# --------------------
a.remove(1)
print(a)
# --------------------
print(a.count(1))
# --------------------
print(a.index(1))
# --------------------
a.extend([10,20,30,40])
print(a)

<class 'list'>
[1]
[1, [2, 3, 4]]
[1, [2, 3, 4], 5]
[0, 1, [2, 3, 4], 5]
[0, 1, [2, 3, 4]]
[1, [2, 3, 4]]
[1, 1, [2, 3, 4]]
[1, [2, 3, 4]]
1
0
[1, [2, 3, 4], 10, 20, 30, 40]

In [30]:
# using reverse()
lst = [100,20,3000,4,500,6000]

lst.reverse()
print(lst)

[6000, 500, 4, 3000, 20, 100]

In [31]:
# Using sort()
lst.sort()
lst

[4, 20, 100, 500, 3000, 6000]

In [32]:
# using sort()
lst1 = ["Hello","Beautiful","World"]
lst1.sort()
lst1

['Beautiful', 'Hello', 'World']

In [33]:
# Concept of Indexing and Slicing
# lst[index]
lst = [1,2,3,4,5,6,7,8,9,10]
print(lst[-1])
# lst[start:stop:step]
print(lst[2:6])
print(lst[1::3])
print(lst[-1::4])
print(lst[-1::-2])

10
[3, 4, 5, 6]
[2, 5, 8]
[10]
[10, 8, 6, 4, 2]

In [34]:
# Concept of index and slicing

lst1 = [[1,2,3,4,[10,20,30],[4,5,6,7],9,10],100]
print(lst1[0][4][2])

lst2 = [1,2,3,[4,5,[6,7,[8,9,(100,200,300),8,[9],10],110],1120],1]
print(lst2[3][2][2][2][1])

30
200

In [35]:
# Indexing and Slicing to tuple

tup = (1,2,3,(3,4,5,6),[45,56,67])

tup[4]

[45, 56, 67]

In [36]:
# range()
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Defining a function
'''
def <Name>():  # Function Definition
  statements
  Expressions
  return statemetns,Expressions

a,b = <Name>()  # Function Calling
'''

In [41]:
def sum():      # Function Definition
  num1 = 100
  num2 = 200

  num3 = num1+num2
  return num3

ans = sum()    # Function Calling
print(f"The addition of two numbers is {ans}")  # Using f-string function

The addition of two numbers is 300

In [42]:
def sum():      # Function Definition
  num1 = float(input("Enter the First Number: "))
  num2 = float(input("Enter the Second Number: "))

  num3 = num1+num2
  return num3

ans = sum()    # Function Calling
print(f"The addition of two numbers is {ans}")  # Using f-string function

Enter the First Number: 10
Enter the Second Number: 30
The addition of two numbers is 40.0

In [58]:
def sum(a,b):      # Function Definition
  a = float(input("Enter the First Number: "))
  b = float(input("Enter the Second Number: "))

  return (a+b)

ans = sum(1,1)    # Function Calling
print(f"The addition of two numbers is {ans}")  # Using f-string function

Enter the First Number: 400
Enter the Second Number: 600
The addition of two numbers is 1000.0

In [60]:
def student_info(name,Age,Gender):  # Function Definition
  print(f"The name of Student is {name}")
  print(f"The Age of Student is {Age}")
  print(f"The Gender of Student is {Gender}")


student_info(name = "Varun",Age = 20,Gender = "Male") # Function calling with Parameters

The name of Student is Varun
The Age of Student is 20
The Gender of Student is Male

In [52]:
number1 = float(input("Enter the First Number: "))
number2 = float(input("Enter the Second Number: "))

def sum():   # function definition

  number3 = number1 + number2

  return number3

def sub():   # function definition

  number3 = number1 - number2

  return number3

ans1 = sum() # function callling
ans2 = sub() # function callling
print(ans2)
print(ans1)

Enter the First Number: 400
Enter the Second Number: 200
200.0
600.0

In [64]:
# Write a function whether the given string is palindrom or not

string = input("Enter the String: ")

def palindrom(): # function definition
  string1 = string[::-1]

  if string == string1:
    print("The Given String is Palindrom")
  else:
    print("The Given String is not Palindrom")

palindrom()   # function calling

Enter the String: mom
The Given String is Palindrom

In [66]:
even = []
odd  = []

for i in range(1,30):

  if i %2 == 0:
    even.append(i)
  else:
    odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [68]:
even = []
odd  = []

def compute():  # function definition

  for i in range(1,30):

    if i %2 == 0:
      even.append(i)
    else:
      odd.append(i)

compute()  # function calling

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]