In [ ]:
# Single Line Comment
'''
Multi Line Comment

'''
print('Hello Python Programming')
print() # print function

# Data Types of Python Programming

'''

1. Integer : int
2. Float : float
3. String : str
4. Boolean : bool (True/False)
5. Complex : complex (2 + 3i)
6. List : list
7. Tuple : tuple
8. Set : set
9. Dictionary : dict
10. Class : Custom Datatype

'''

# Variable Definitions

'''
1. assignment operator : =
2. comparison operator : ==
'''

number = 100 # variable definition of integer value
Number = 100.433433 # Variable definition of float value

print(number==Number)



string = "India 1234" # group of characters or number
print(type(string))

str1= "12345"
#Anything define inside the cods is called string
print(type(str1))

Hello Python Programming

False
<class 'str'>
<class 'str'>

In [ ]:
a = True
b = False
c = True

print(type(a))

# Using And logic

print(a and b)
print(a and c)
print(b and a)
print(b and b)

print("*" * 20)

# Using OR logic

print(a or c)
print(a or b)
print(b and b)
print(a or c)

<class 'bool'>
False
True
False
False
********************
True
True
False
True

In [ ]:
# complex number
# Complex number = real part + imaginary no
num = 2 +3j
print(num)
print(type(num))

(2+3j)
<class 'complex'>

In [ ]:
# List : Mutable
lst =[]
lst1 = [1,2,3,3.442,"India",True]
print(type(lst1))
lst2 = [1,2,3,[10,20,30],"India"]
print(type(lst2))

<class 'list'>
<class 'list'>

In [ ]:
# Tuple : immutable
tup = ()
tup1 = (12,13,3.44,"India")
print(type(tup1))

<class 'tuple'>

In [ ]:
# Set

a={1,1,2,2,3,3,4,5}

print(a)
print(type(a))

txt = {"India","India",10,10,12,12,"USA"}
print(txt)

{1, 2, 3, 4, 5}
<class 'set'>
{10, 'India', 12, 'USA'}

In [ ]:
# Dictionary

d = {"India" : [10,20,30,40,50],
     "USA" : [1,4,5,6,7],
     "UK" : [25,42,41,64,18]}
print(d)

{'India': [10, 20, 30, 40, 50], 'USA': [1, 4, 5, 6, 7], 'UK': [25, 42, 41, 64, 18]}

In [ ]:
# Mathematical Operations

'''
+
-
*
/
//
%

'''

print(100*2/2+10)
print(1000//2)
print(1000/2)
print(40%3)
print(20 ** 2)
print(8 ** 0.5)

# Logical Operator

# Comparison Operator

print(100<=200) # less than or equal to
print(200!=300) # Not Equal to
print(1000 == 1000) # Comparison ==

110.0
500
500.0
1
400
2.8284271247461903
True
True
True

In [ ]:
# User defined function
# Program : Addition of Two Numbers

'''

1. Ask user to enter the two numbers.
2. Addition operation will be performed
3. Output will get printed
'''

number1 = float(input("enter the first number:"))
number2 = float(input("enter the second number"))

number3= number1 + number2

print(number3)

enter the first number:10
enter the second number10.0
20.0

In [ ]:
# print operations

# Using f format method

print(f"The addition of two numbers {number1} and {number2} is {number3}")


print(f"The addition of two numbers {number1} and {number2} is {number3}".format(number1,number2,number3))

The addition of two numbers 10.0 and 10.0 is 20.0
The addition of two numbers 10.0 and 10.0 is 20.0

In [ ]:
# String Operation

string = input("Enter the String: ")

# Concept of Indexing
'''
Logic :
H e l l o   W o r l d
0 1 2 3 4 5 6 7 8 9 10
              -3 -2 -1

'''

print(string[4])
print(string[-7])

Enter the String: Hello World
o
o

In [ ]:
int = 1
print(int)
print(type(int))


str1= "india123"
print(str1)
print(type(str1))

1
<class 'int'>
india123
<class 'str'>

In [ ]:
# Slicing a string
# string[start:stop]
# Slicing: Slicing

string = "Hello World"
string1= "India is Great"

print(string[:5]) # o/p : Hello
print(string[:-6])  # o/p : Hello
print(string1[9:]) # o/p : Great
print(string1[-5:]) # o/p : Great

Hello
Hello
Great
Great

In [ ]:
# String Slicing Example
# o/p : Ida i ra
# string1[Start:Stop:Step]
# string1= "India is Great"
print(string1[::2])
print(string1[::4])
print(string1[::-1])

Idai ra
Ia a
taerG si aidnI

In [ ]:
# Q. Write a program to print sentence/word is palindrom or not
'''
Logic:
1. ask user to enter the string
2. store the string in variable: string
3. reverse the entered string : string1
4. use if else condition to check the palindrom or not
'''
# Step1 : Ask user to enter the string
string = input("Enter the String:")

# Step2 : Reverse the entered string: string1
string1 = string[::-1]

# Step3 : Use if else logics
if string == string1 :
  print("The Given String is Palindrom")
else:
  print("The Given String is not Palindrom")

Enter the String:DiD
The Given String is Palindrom

In [ ]:
# Q. Sagregate user based on marks
'''
Logic:
1. ask user to enter the marks and typecast to float
2.store the marks in variable: marks
3. use if else logic
'''

# Step1: Ask user to enter the marks

marks = float(input("Enter the Marks: "))

# Step2:
if marks >= 75:
  print("Bright Student")
else:
  print("Weak Student")

Enter the Marks: 85
Bright Student

In [ ]:
# Practice
# Slicing the String
string2 = "Hello World"
print(string2[:5])# o/p Hello
print(string2[:-6])
print(string2[::2]) #o/p HloWrd
print(string2[6:])  # o/p World
print(string2[-5:])

Hello
Hello
HloWrd
World
World

In [ ]:
# Q. Using Multiple if elif concept

score = float(input("enter the score: "))

if score >= 90:
  print("Grade A")
elif score >= 80:
  print("Grade B")
elif score >= 70:
  print("Grade C")
elif score >= 60:
  print("Grade D")
else :
  print("No Grade0")

enter the score: 79
Grade C

In [ ]:
# Number Guessing Game : With Latency Calculation
import time
import random

start = time.perf_counter()

number = random.randint(1,5)
print(number)

if number == 1:
  print("Number is 1")
elif number == 2:
  print("Number is 2")
elif number == 3:
  print("Number is 3")
elif number== 4:
  print("Number is 4")
elif number == 5:
  print("Number is 5")
else :
  print("No Number")

# Your code that you want to time
end = time.perf_counter() - start
print('{:6f}s for the calculation '.format(end))

3
Number is 3
0.001157s for the calculation

In [ ]:
# Number Guessing game using If ladder

import time
import random

start = time.perf_counter()
number = random.randint(1,5)
print(number)

if number == 1:
  print("Number is 1")
if number == 2:
  print("Number is 2")
if number == 3:
  print("Number is 3")
if number== 4:
  print("Number is 4")
if number == 5:
  print("Number is 5")
else:
  print("No Number")

# Your code that you want to time
end = time.perf_counter() - start
print('{:6f}s for the calculation '.format(end))

5
Number is 5
0.000429s for the calculation

In [ ]:
# loops : For loop & while loop
# range(start,stop,step)
# i is interator

for i in range(1,10,2):
 print(i)

1
3
5
7
9

In [ ]:
# for loop
for i in range(1,6):
  print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
# String: object / textform

lst = ["Hello","World","Python","Programming"]

for i in lst:
# print(i.lower())
# print(i.upper())
# print(i.capitalize())
# print(i.isdigit())
  print(i.count("Hello"))

1
0
0
0

In [ ]:
# Q. Print all the even numbers from 1 to 20
'''
Logic:
1. use range function to generate numbers
2. use for loop to iterate
3. use if condition to check the number is even or not.
'''

for i in range(1,21):
  if i % 2 == 0:
    print(i, end= " ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
# print the sum of all even numbers between 1 to 50.
'''
Logic:
1. use range function to generate even numbers between 1 to 50
2. use for loop to iterate
3. assign a variable sum = 0 and then iterate through

'''
sum = 0

for i in range(1,51):
  if i % 2 == 0:
    sum = sum + i
print(sum)

650

In [ ]:
# using len() : This will return total number of characters present inside a string

lst = ["India","ITVedant@123","Austia_love456","1346623322"]

for i in lst:
  if len(i) >=6:
    print(i)

ITVedant@123
Austia_love456
1346623322

In [ ]:
# List Methods
'''
when any function defined inside a class it is called as Method
'''
# append is add up value in last index

a = []
print(type(a))

a.append(1)
print(a)
a.append([2,3,4])
print(a)
a.append(5)
print(a)
# -------------------------
a.insert(0,0)
print(a)
# ------------------------
a.pop()
print(a)
# ------------------------
a.remove(0)
print(a)
# ----------------------
a.insert(0,1)
print(a)

# ------------------------
a.remove(1)
print(a)

# -----------------------
print(a.count(1))

# --------------------
print(a.index(1))

# ----------------------
a.extend([10,20,30])
print(a)

<class 'list'>
[1]
[1, [2, 3, 4]]
[1, [2, 3, 4], 5]
[0, 1, [2, 3, 4], 5]
[0, 1, [2, 3, 4]]
[1, [2, 3, 4]]
[1, 1, [2, 3, 4]]
[1, [2, 3, 4]]
1
0
[1, [2, 3, 4], 10, 20, 30]

In [ ]:
# List
'''
1. DSA
2. Mutable
'''

lst =[]
lst1 = [[[[[]]]]]
lst2 = [1,2,3,4.55666666,True,False,4-7j]

In [ ]:
# Using reverse()
lst = [100,20,3000,4,500,6000]
lst.reverse()
print(lst)

[6000, 500, 4, 3000, 20, 100]

In [ ]:
# Using Sort()
lst.sort()
print(lst)

[4, 20, 100, 500, 3000, 6000]

In [ ]:
# Using Sort()
# capital follows capital letters first
lst1 = ["Hello","Beautiful","World"]
lst1.sort()
lst1

['Beautiful', 'Hello', 'World']

In [ ]:
# Concept of Indexing and Slicing
# lst[index]
lst = [1,2,3,4,5,6,7,8,9,10]
print(lst[-1])

# lst[Start:Stop:Step]
print(lst[2:6])
print(lst[1::3])
print(lst[-1::4])
print(lst[-1::-2])

10
[3, 4, 5, 6]
[2, 5, 8]
[10]
[10, 8, 6, 4, 2]

In [ ]:
# Concept of index and Slicing

lst1 = [[1,2,3,4,[10,20,30],[4,5,6,7],9,10],100]
print(lst1 [0] [4][2])

30

In [ ]:
# Tuple : Immutable
a = ()
b = (([{}]))
c = (1,2,3,4,5,6,8,9,10)

# methods in tuple
print(c.count(3))
print(c.index(3))

1
2

In [ ]:
tup = (1,2,3)
lst = [1,2,3]
tup1 = (10,11,12)
lst1 = [10,11,12]
d = {1:10,2:20,3:30}
print(lst + lst1)

[1, 2, 3, 10, 11, 12]

In [ ]:
# Write a program to print all even number between 1 to 20

lst = []

for i in range (1,21):
  if i%2 == 0:
    lst.append(i)
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Using List Comprehension
'''
Syntax: [iterate for loop condition]
'''
[i for  i in range(1,21) if i % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# O/p :[1,4,9,16,.......]

[i** 2 for i in range(1,11) ]

# ---------------------------

# to print even number square
# o/p :[4,16,36,64....]

[ i ** 2 for i in range(1,11) if (i % 2 ==0)]

[4, 16, 36, 64, 100]

In [ ]:
# Indexing And Slicing the Tuple

tup = (1,2,3,(3,4,5,6),(45,54,65))

print(tup[4])

(45, 54, 65)

In [ ]:
# range()

for i in range(1,20,2):
 print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# defining a fuction
'''
def <Name>(): # Function Definition
 Statements
 Expressions
 Return Statement,Expression

a,b = <Name>() # Function Calling

'''

In [ ]:
def sum(): # Function Definition
 num1 = 100
 num2 = 200

 num3 = num1+num2
 return num3

ans = sum() # Function Calling
print(f"The additon of two numbers is {ans}") # Using f-string function

The additon of two numbers is 300

In [ ]:
def sum(): # Function Definition]
 num4 = float(input("Enter the First Number: "))
 num5 = float(input("Enter the Second Number: "))

 num6 = num4+ num5
 return num6

ans = sum() # Function Calling
print(f"The Addition of two number is {ans} ") # Using f-string function

Enter the First Number: 30
Enter the Second Number: 30
The Addition of two number is 60.0

In [ ]:
def sum(a,b):     # Function Definition]
 a = float(input("Enter the First Number: "))
 b = float(input("Enter the Second Number: "))

 return(a+b)

ans = sum(1,1)   # Function Calling
print(f"The Addition of two number is {ans} ") # Using f-string function

Enter the First Number: 555
Enter the Second Number: 54
The Addition of two number is 609.0

In [ ]:
number1 = float(input("Enter the First Number: "))
number2 = float(input("Enter the Second Number: "))

def sum(): # function definition
 number3 = number1 + number2
 return number3

def sub(): # function definition
 number3 = number1 - number2
 return number3

ans1 = sum() # function calling
ans2 = sub() # function calling

print(ans1)
print(ans2)

Enter the First Number: 455
Enter the Second Number: 222
677.0
233.0

In [ ]:
def student_info(name,Age,Gender):   # Function Definition
 print(f"The name of Student is {name}")
 print(f"The Age of Student is {Age}")
 print(f"The Gender of Student is {Gender}")

student_info(name="Sujal",Age = "21",Gender ="Male") # Function Calling with Parameters

The name of Student is Sujal
The Age of Student is 21
The Gender of Student is Male

In [ ]:
# Write a function whether the given string is palindrom or not

string = input("Enter the String: ")

def palindrom(): #function definition
 string1 = string[::-1]
 if string == string1:
  print("The Given String is Palindrom")
 else:
  print("The Given String is not Palindrom")
palindrom() # function calling

Enter the String: dad
The Given String is Palindrom

In [ ]:
even = []
odd= []
for i in range(1,30):
  if i % 2 ==0:
    even.append(i)
  else:
    odd.append(i)
print("Even Numbers: ",even)
print("Odd Numbers: ",odd)

Even Numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
Odd Numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
even = []
odd= []

def compute():
    for i in range(1,30):
     if i % 2 ==0:
      even.append(i)
     else:
      odd.append(i)
compute()

print("Even Numbers: ",even)
print("Odd Numbers: ",odd)

Even Numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
Odd Numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
# iterator and iterable

for i in range(1,10):
 print(i)  # i is called iterator

1
2
3
4
5
6
7
8
9

In [ ]:
# Calculate length of each string

# define a iterable : list

'''
Logic :
Define two empty list
'''

lst = ["Hello","World","PythonProgramming","DataScience","Java"]

def compute(): # Function Definition

 bucket1 = []
 bucket2 = []

 for i in lst:
  if len(i)> 4:
    bucket1.append(i)
  else:
    bucket2.append(i)
 return bucket1,bucket2

bucket1,bucket2 = compute() # Function Calling
print(bucket1)
print(bucket2)

['Hello', 'World', 'PythonProgramming', 'DataScience']
['Java']

In [ ]:
# Saggregate the vowels and non-vowels

lst1 = ["a","e","h","o","u"]

bucket1 =[]
bucket2=[]

def compute2():
  for i in lst1:
    if i in "aeiou":
      bucket1.append(i)
    else:
      bucket2.append(i)
  return bucket1,bucket2

bucket1,bucket2 = compute2()

print(bucket1)
print(bucket2)

['a', 'e', 'o', 'u']
['h']

In [ ]:
# lambda function

x = lambda x: x**2
print(x(7))

49

In [ ]:
# add function

# Computing addition using lambda function

add = lambda a,b : a+b
print(add(100,200))


def sum (a,b):
  a = 100
  b = 200
  return a+b

sum(100,200) # function calling

300

300

In [ ]:
# Print whether the number is even or odd
import time
import random

start = time.perf_counter()
num = float(input("Enter the Number: "))

def num1():
  if num % 2 == 0:
    print("The Number is Even")
  else:
    print("The Number is Odd")
num1()

# Your code that you want to time
end = time.perf_counter() - start
print('{:6f}s for the calculation '.format(end))

Enter the Number: 5
The Number is Odd
2.200822s for the calculation

In [ ]:
# print whether the number is even or odd

x = lambda number: "The Number is Even" if number % 2 == 0 else "The Number is Odd"
print(x(6))

The Number is Even

In [ ]:
Marks = lambda x: "Best" if x >= 90 else ("Medium" if x >= 75 else "Poor")
print(Marks(80))

Medium

In [ ]:
# to Make Calculator using Lambda Function
sum = lambda a,b : a + b
sub = lambda a,b : a - b
div = lambda a,b : "Error: Cannot divide by zero" if b == 0 else a/b
multiply= lambda a,b : a * b
a = int(input("Enter the First Number: "))
b = int(input("Enter the Second Number: "))
operator = input("Enter the Operator(+,-,*,/): ")
if operator == "+":
  print("Results:", sum(a,b))
elif operator == "-":
    print("Result:", sub(a, b))
elif operator == "*":
    print("Result:", multiply(a, b))
elif operator == "/":
    print("Result:", div(a, b))
else:
    print("Invalid operator")

Enter the First Number: 44
Enter the Second Number: 7
Enter the Operator(+,-,*,/): -
Result: 37
9.309597s for the calculation

In [ ]:
# To make Calculator using Functions
a = int(input("Enter the First Number: "))
b = int(input("Enter the Second Number: "))
operator = input("Enter the Operator(+,-,*,/): ")

def sum(a,b):
  return a + b

def sub(a,b):
  return a - b

def multiply(a,b):
  return a * b

def div(a,b):
  if b == 0:
        return "Error: Cannot divide by zero"
  return a / b

# function calling based on the operator
if operator == "+":
  print("Results:", sum(a,b))
elif operator == "-":
    print("Result:", sub(a, b))
elif operator == "*":
    print("Result:", multiply(a, b))
elif operator == "/":
    print("Result:", div(a, b))
else:
    print("Invalid operator")

Enter the First Number: 5
Enter the Second Number: 1
Enter the Operator(+,-,*,/): -
Result: 4

In [ ]:
# Write a program to check whether a person is eligible for voting or not.(accept age from user)

Age = float(input("Enter Your Age :"))
if Age >= 18:
  print("Eligible for voting")
else:
  print("Not eligible for voting")

Enter Your Age :14
Not eligible for voting

In [ ]:
class car:
  # Constructor / Special Fuction
  def __init__(self,no_of_door,no_of_wheels):
    self.no_of_door = no_of_door   # feature1
    self.no_of_wheel = no_of_wheels  #feature2

  # method of class : car
  def mileage(self,km):
    self.km = km
    return self.km + 100

  # method of class : car
  def features(self):
    print("No of door: ",self.no_of_door)  # Accessing feature1
    print("No of wheel: ",self.no_of_wheel)  # Accessing feature2

a = car(5,7)
print(a.mileage(4))

a.features()

104
No of door:  5
No of wheel:  7

In [ ]:
class car:

  def __init__(self,mileage,km,color,bodytype):
    self.mileage = mileage
    self.km = km
    self.color = color
    self.bodytype = bodytype

  def mileage_car(self,):
    self.mileage = self.mileage + 40
    return self.mileage

object = car(40,12,"Red","Sedan")
print(object.km)
object.mileage_car()

12

80

In [ ]:
# Concept of Encapsulation Method

class BankAccount:
  # constructor
  # private variable/ protected variable /instances/features: self.__FeatureName
  def __init__(self,owner, balance=0):
    self.owner = owner       # public attribute
    self.__balance = balance # private attribute

  # Getter method (read-only access to balance)

  def get__balance(self):
    return self.__balance

  # Deposits method with Validation
  def deposit(self,amount):
    if amount > 0:
      self.__balance += amount     # amount +__balance
      print(f"Deposited:{amount}")
    else:
      print("Invalid deposits amount!")

  # Withdraw method with validation
  def withdraw(self,amount):
    if 0 < amount <= self.__balance:
      self.__balance -= amount    # amount - __balance
      print(f"Withdraw:{amount}")
    else:
      print("Insufficient funds or invalid amount")

# Using the class
acc = BankAccount("Sujal",1000)

acc.deposit(500)
acc.withdraw(300)

print("Current Balance:",acc.get__balance())

Deposited:500
Withdraw:300
Current Balance: 1200

In [ ]:
# Write a program to count line in text file

file = open("sample.txt","r")

count = 0

for line in file:
  count +=1

file.close()

print(count)

FileNotFoundError: [Errno 2] No such file or directory: 'sample.txt'

In [ ]:
# Example of Encapsulation

class BankAccount:
    def __init__(self, owner, pin, balance=0):
        self.owner = owner         # public attribute
        self.__pin = pin           # private attribute
        self.__balance = balance   # private attribute

    # Method to verify PIN (private helper method)
    def __verify_pin(self, pin):
        return pin == self.__pin   # comparison

    # Public method  Check balance
    def check_balance(self, pin):
        if self.__verify_pin(pin):
            return f"Available Balance: {self.__balance}"
        else:
            return "Invalid PIN!"

    # Public method  Deposit money
    def deposit(self, pin, amount):
        if not self.__verify_pin(pin):
            return "Invalid PIN!"

        if amount > 0:
            self.__balance += amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount."

    # Public method  Withdraw money
    def withdraw(self, pin, amount):
        if not self.__verify_pin(pin):
            return "Invalid PIN!"

        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrawn {amount}. Remaining balance: {self.__balance}"
        return "Insufficient funds or invalid amount."


# Test Case:
account = BankAccount("Chandan", pin=1234, balance=5000)

print(account.check_balance(1234))
print(account.withdraw(1234, 1000))
print(account.deposit(1234, 2000))
print(account.check_balance(1111))

Available Balance: 5000
Withdrawn 1000. Remaining balance: 4000
Deposited 2000. New balance: 6000
Invalid PIN!

In [ ]:
import time
start = time.perf_counter()
class MovieBooking:
    def __init__(self, owner, pin, seats, price):
        self.owner = owner          # public attribute
        self.__pin = pin            # private attribute
        self.__seats = seats        # private attribute
        self.__price = price        # private attribute

    # Private method to verify pin
    def __verify_pin(self, pin):
        return pin == self.__pin

    # Public method  Show available movies
    def show_movies(self):
        return (
            "Available Movies:\n"
            "1. Avengers: Endgame\n"
            "2. Avatar: The Way of Water\n"
            "3. Joker\n"
            "4. Oppenheimer"
        )

    # Public method  Check total cost
    def check_cost(self, pin):
        if self.__verify_pin(pin):
            return f"Total Cost: {self.__seats * self.__price}"
        return "Invalid PIN!"

    # Public method  Change booked seats
    def update_seats(self, pin, new_seat_count):
        if not self.__verify_pin(pin):
            return "Invalid PIN!"

        if new_seat_count > 0:
            self.__seats = new_seat_count
            return f"Seats updated to {self.__seats}."
        return "Invalid seat number."

    # Public method  Book movie
    def book_movie(self, pin, movie_choice):
        if not self.__verify_pin(pin):
            return "Invalid PIN!"

        movies = {
            1: "Avengers: Endgame",
            2: "Avatar: The Way of Water",
            3: "Joker",
            4: "Oppenheimer"
        }

        if movie_choice in movies:
            return f"Booking Confirmed for '{movies[movie_choice]}' | Seats: {self.__seats} | Total Price: {self.__seats * self.__price}"

        return "Invalid movie selection."


# Test Case
booking = MovieBooking("Sujal", pin=1234, seats=2, price=150)

print(booking.show_movies())
print(booking.check_cost(1234))
print(booking.book_movie(1234, 3))
print(booking.update_seats(1234, 4))
print(booking.book_movie(1111, 2))  # wrong pin test


# Your code that you want to time
end = time.perf_counter() - start
print('{:6f}s for the calculation '.format(end))

Available Movies:
1. Avengers: Endgame
2. Avatar: The Way of Water
3. Joker
4. Oppenheimer
Total Cost: 300
Booking Confirmed for 'Joker' | Seats: 2 | Total Price: 300
Seats updated to 4.
Invalid PIN!
0.001594s for the calculation

In [ ]:
class Product:

  # Constructor
  def __init__(self,id):
    self.id = id
  # Product Details using Method
  def Product_Details(self):
        self.name = input("Enter Product Name: ")
        self.price = float(input("Enter Product Price: "))
        self.qty = int(input("Enter Product Quantity: "))

  # Method to Display
  def Display(self):
    print("Product Id:",self.id)
    print("Product Name:",self.name)
    print("Product Price:",self.price)
    print("Product Quantity:",self.qty)

p1 = Product(101)

p1.Product_Details()
p1.Display()

Enter Product Name: Amul
Enter Product Price: 11
Enter Product Quantity: 2
Product Id: 101
Product Name: Amul
Product Price: 11.0
Product Quantity: 2

In [ ]:
import time
start = time.perf_counter()
class BankAccount:


   def __init__(self ,owner ,balance=0):
    self.owner = owner
    self.balance = balance

   def deposits(self,amount):
    self.balance += amount
    print(f"Deposit Amount:{amount}")

   def withdraw(self,amount):
    if amount <= self.balance:
      self.balance -= amount
      print(f"Withdraw Amount: {amount}")
    else:
      print(f"Insufficient funds!")


   def get_balance(self):
    return self.balance

class SavingsAccount(BankAccount):

   def __init__(self,owner, balance=0, interest_rate=0.05):
    super().__init__(owner, balance)
    self.interest_rate = interest_rate

   def add_interest(self):
    interest = self.balance * self.interest_rate
    self.balance += interest
    print(f"Interest Added: {interest}")

class CurrentAccount(BankAccount):

  def __init__(self,owner,balance=0, overdraft_limit=1000):
    super().__init__(owner,balance)
    self.overdraft_limit = overdraft_limit

  def withdraw(self,amount):
    if amount <= self.balance + self.overdraft_limit:
      self.balance -= amount
      print(f"Withdrawn using overdraft : {amount}")
    else:
      print("Exceeded overdraft limit!")


s = SavingsAccount("Sujal", 2000)
s.add_interest()
print("Saving Balance:", s.get_balance())

c = CurrentAccount("Sujal",1000)
c.withdraw(1500)
print("Current Balance:", c.get_balance())

# Your code that you want to time
end = time.perf_counter() - start
print('{:6f}s for the calculation '.format(end))

Interest Added: 100.0
Saving Balance: 2100.0
Withdrawn using overdraft : 1500
Current Balance: -500
0.001652s for the calculation

In [ ]:
# class is a custom datatype
import time
start = time.perf_counter()
class MovieBooking:

  # Constructor
  def __init__ (self,owner,pin,price,seat,movie_name):
    self.owner = owner
    self.__pin = pin
    self.price = price
    self.seat = seat
    self.movie_name = movie_name

  def __verify_pin(self,pin):
    return pin == self.__pin # Comparision

  def book_seats(self,pin, new_seat_count):
    if not self.__verify_pin(pin):
      return f"Invalid Pin!"

    if new_seat_count > 0:

            # Only add this check (because your code would break)
            if new_seat_count > self.seat:
                return "Seats are not Available!"

            # SAME logic: Deduct seats
            self.seat -= new_seat_count

            # NEW: total price
            total_price = new_seat_count * self.price

            return (
                f"Movie: {self.movie_name}\n"
                f"Booked Seats: {new_seat_count}\n"
                f"Total Price: {total_price}\n"
                f"Available Seats: {self.seat}")


class KGF(MovieBooking):
  def __init__ (self,owner,pin,price,seat,movie_name):
    super().__init__ (owner,pin,price,seat,movie_name)

class RRR(MovieBooking):
  def __init__ (self,owner,pin,price,seat,movie_name):
    super().__init__ (owner,pin,price,seat,movie_name)

class Jawan(MovieBooking):
  def __init__ (self,owner,pin,price,seat,movie_name):
    super().__init__ (owner,pin,price,seat,movie_name)


kgf = KGF("Sujal", 2252, price=200, seat=50, movie_name="KGF")
print(kgf.book_seats(2252, 3))

rrr = RRR("Sujal",2252,price = 150,seat =40,movie_name = "RRR")
print(rrr.book_seats(2252,5))
# Your code that you want to time
end = time.perf_counter() - start
print('{:6f}s for the calculation '.format(end))

Movie: KGF
Booked Seats: 3
Total Price: 600
Available Seats: 47
Movie: RRR
Booked Seats: 5
Total Price: 750
Available Seats: 35
0.003053s for the calculation

In [ ]:
# polymorphism enables to write more flexible and reusable code

class Bird:
  def sound(self):
    return "Tweet"

class Dog:
  def sound(self):
    return "Bark"

def make_sound(animal):
    print(animal.sound())

# create objects
bird = Bird()
dog = Dog()

# same function call, different class
make_sound(bird)
make_sound(dog)

Tweet
Bark

In [1]:
# define parent class
class Parent:
  # Define Special Method : Constructors
  def __init__(self,feature1,feature2):
    self.feature1 = feature1
    self.feature2 = feature2
  # Define instance method : method
  def sound(self):
    return "Woow"
# Define child class
class Child1(Parent):
  def __init__(self,feature1,feature2):
    super().__init__(feature1,feature2)

    print(self.feature1)
# Define Method
  def sound(self):
    return super().sound()

# Define child class
class Child2(Parent):
  def __init__(self,feature1,feature2):
    super().__init__(feature1,feature2)

    print(self.feature1)
# define method
  def sound(self):
    return "Grrrrr"

obj = Child1(100,200)
obj1 =obj.sound()
obj2 = Child2(100,200)
obj3 =obj2.sound()

print(obj1)
print(obj3)

100
100
Woow
Grrrrr